<nav class="navbar  bg-dark ">
  <div class="container-fluid ">
    <a class="navbar-brand text-light" href="#"><h1>{{title}}</h1></a>
  </div>
</nav>


<div class="container d-flex justify-content-end mt-2">
  <!-- <button (click)="Listar()" class="btn btn-info" style="margin-left:10px">
    Listar
  </button> -->
  <button (click)="Nuevo()" class="btn btn-success" style="margin-left:10px; padding: 10px 20px; color: white; font-size: 16px;">
    <h3>Agregar Producto</h3>
</button>
</div><br>




<router-outlet></router-outlet>